.theme-#{$theme-name} {
  background-color: $background-color;
  color: $font-color;

  &, * {
    transition: all 0.05s linear;
  }

  header {
    background-color: $header-background-color;
  }

  header, footer {
    border-color: $border-color;
  }
}
